body {
  background-color: #0c2461;
}

header {
  color: white;
}

main,
nav {
  background-color: #fff;
}

span {
  color: burlywood;
}

.heading {
  width: 250px;
  position: relative;
  left: 550px;
  font-size: 125%;
}

.container {
  display: flex;
}

.match {
  width: 700px;
  height: 350px;
  display: block;
  margin: auto;
  border-radius: 20px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.list {
  background-color: gold;
  font-weight: 1000;
  border: 2px solid black;
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.list:hover {
  font-size: 18px;
}

.logo {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.cricketer {
  border-radius: 20px;
  width: 400px;
  height: 250px;
}

.hover img:hover {
  transform: translateY(10px);
}

footer {
  background-color: #0c2461;
  padding-bottom: 100px;
  color: aliceblue;
  text-align: center;
  padding-bottom: 20px;
  margin-top: 20px;
  border-radius: 18px;
}

.footer-links > a {
  color: white;
}

.footer-links a:hover{
  color: sandybrown;
  font-size: 20px;

}