body {
  background-color: #0c2461;
}

header {
  text-align: center;
  color: white;
}

span {
  color: burlywood;
}

main {
  background-color: #fff;
  text-align: center;
}
.heading {
  width: 250px;
  position: relative;
  left: 550px;
  font-size: 125%;
}

.container {
  display: flex;
}

.logo {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.para_1,
.para_2 {
  padding: 10px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

ul > li {
  border: 1px black solid;
  border-radius: 20px;
  margin: 10px;
}

footer {
  color: white;
  text-align: center;
  padding: 30px;
}

a {
  color: #ffc107;
  text-decoration: none;
}

.media:hover {
  font-size: 25px;
}

button {
  background-color: aqua;
  padding: 10px;
  border-radius: 10px;
}

button > .home {
  color :red;
}

/* =========================
   Mobile Responsive Styles
   ========================= */
@media (max-width: 768px) {

  /* Header */
  header .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
  }

  .logo {
    width: 65px;
    height: auto;
  }

  .heading h1 {
    font-size: 24px;
    padding: 10px 0;
  }

  /* Main Content */
  main {
    padding: 15px;
  }

  ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 3px;
}

  .para_1,
  .para_2 {
    margin-bottom: 25px;
  }

  h2 {
    font-size: 22px;
    text-align: center;
  }

  p {
    font-size: 15px;
    line-height: 1.6;
    text-align: justify;
  }

  /* Values Section */
  main > h1 {
    font-size: 24px;
    text-align: center;
    margin: 20px 0;
  }

  .list_section ul {
    padding-left: 0;
  }

  .list_section li {
    list-style: none;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
  }

  .list_section h3 {
    font-size: 18px;
    text-align: center;
  }

  .list_section p {
    font-size: 14px;
    line-height: 1.6;
    text-align: justify;
  }

  /* Footer */
  footer {
    text-align: center;
    padding: 20px;
  }

  footer p {
    font-size: 14px;
    line-height: 1.5;
  }

  .social_madia {
    margin-top: 10px;
  }

  .media {
    display: inline-block;
    margin: 5px;
  }

  button {
    margin-top: 15px;
    padding: 10px 15px;
  }

  .home {
    font-size: 14px;
    text-decoration: none;
  }
}
