body {
  background-color: #0c2461;
}

header {
  color: white;
  padding-bottom: 50px;
  border-radius: 20px;
}

.heading {
  width: 760px;
  position: relative;
  left: 300px;
  font-size: 125%;
}

.containers {
  display: flex;
}

.logo {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

span {
  color: burlywood;
}

h1 {
  text-align: center;
  padding: 20px;
  font-size: 300%;
}

.dhoni-sachin {
  width: 600px;
  height: 300px;
  display: block;
  margin: auto;
  border-radius: 20px;
}

.container > div {
  margin: 20px;
  border: 1px solid wheat;
  width: 1350px;
  border-radius: 20px;
  padding: 10px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.container > div:hover {
  transform: translateY(-10px);
}

.history,
.last,
.sachin,
.dhoni {
  display: flex;
}

.history > p {
  padding: 50px;
}

.last > p {
  padding: 50px;
}

.sachin > p {
  padding: 50px;
}

.dhoni > p {
  padding: 50px;
}

.history > img,
.last > img,
.dhoni > img {
  width: 450px;
  height: 300px;
}

.sachin > img {
  width: 450px;
  height: 320px;
}

h2 {
  font-size: 200%;
}

main {
  background-color: #fff;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 25px;
}

p,
ul {
  max-width: 1200px;
  font-size: 100%;
}

footer {
  padding: 50px;
  font-size: 30px;
  background-color: #0c2461;
  border-radius: 20px;
  color: aliceblue;
  padding-left: 150px;
}

a {
  text-decoration: none;
  color: rgb(76, 205, 132);
}

.back {
  text-align: center;
  color: rgb(255, 0, 0);
}

button {
  background-color: aqua;
  border-radius: 10px;
  padding: 10px;
}
