body {
  background-color: #0c2461;
}

header {
  color: white;
  padding-bottom: 50px;
  border-radius: 20px;
}

.heading {
  width: 460px;
  position: relative;
  left: 450px;
  font-size: 125%;
}

.containers {
  display: flex;
}

.logo {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

span {
  color: burlywood;
}

h1 {
  text-align: center;
  padding: 20px;
  font-size: 250%;
  /* width: 300px; */
}

.colorful {
  width: 600px;
  height: 300px;
  display: block;
  margin: auto;
  border-radius: 20px;
}

.container > div {
  margin: 20px;
  border: 1px solid wheat;
  width: 1350px;
  border-radius: 20px;
  padding: 10px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.container > div:hover {
  transform: translateY(-10px);
}

.pitch,
.batting,
.runs,
.batsman {
  display: flex;
}

.pitch > p {
  padding: 50px;
}

.batting > p {
  padding: 50px;
}

.runs > p {
  padding: 50px;
}

.batsman > p {
  padding: 50px;
}

.pitch > img,
.batting > img,
.runs > img {
  width: 450px;
  height: 300px;
}

.batsman > img {
  width: 450px;
  height: 320px;
}

main {
  background-color: #fff;
  padding-left: 75px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 25px;
}

.basic {
  font-size: 200%;
}

p,
ul {
  max-width: 1200px;
  font-size: 100%;
}

footer {
  padding: 50px;
  font-size: 30px;
  background-color: #0c2461;
  border-radius: 20px;
  color: aliceblue;
  padding-left: 150px;
}

a {
  text-decoration: none;
  color: rgb(76, 205, 132);
}

.back {
  text-align: center;
  color: rgb(255, 0, 0);
}

button {
  background-color: aqua;
  border-radius: 10px;
  padding: 10px;
}

/* =========================
   Mobile Responsive Styles
   ========================= */
@media (max-width: 768px) {
  /* Header */
  .containers {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
  }

  .logo {
    width: 70px;
    height: auto;
  }

  .heading {
    font-size: 13px;
    width: 560px;
    margin-left: 10px;
    left: 1px;
  }

  .colorful {
    width: 100%;
    height: auto;
  }

  /* Main Container */
  .container {
    padding: 0;
  }

  .container > div {
    margin: 20px;
    border: 1px solid wheat;
    width: 200px;
    border-radius: 20px;
    padding: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }

  main {
    padding: 15px;
  }

  .basic {
    font-size: 24px;
    text-align: center;
  }

  .container p {
    font-size: 15px;
    width: 200px;
   
  }

  /* Sections */
  .pitch,
  .batting,
  .runs,
  .batsman {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 25px;
  }

  .pitch img,
  .batting img,
  .runs img,
  .batsman img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
  }

  /* Lists */
  .batting ul {
    padding-left: 0;
    list-style-position: inside;
    font-size: 15px;
    line-height: 1.6;
    text-align: left;
  }

  .batting li {
    margin-bottom: 8px;
  }

  /* Headings */
  h3 {
    font-size: 20px;
    text-align: center;
  }

  /* Footer */
  footer {
    text-align: center;
    padding: 15px;
  }

  footer p {
    font-size: 14px;
    margin: 5px 0;
  }

  footer button {
    margin-top: 10px;
    padding: 10px 15px;
  }

  .back {
    font-size: 14px;
    text-decoration: none;
  }
}
