body {
  background-color: #0c2461;
}

header {
  text-align: center;
  color: white;
}

span {
  color: burlywood;
}

main {
  background-color: #fff;
  text-align: center;
}
.heading {
  width: 250px;
  position: relative;
  left: 550px;
  font-size: 125%;
}

.container {
  display: flex;
}

.logo {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.para_1,
.para_2 {
  padding: 10px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

ul > li {
  border: 1px black solid;
  border-radius: 20px;
  margin: 10px;
}

footer {
  color: white;
  text-align: center;
  padding: 30px;
}

a {
  color: #ffc107;
  text-decoration: none;
}

.media:hover {
  font-size: 25px;
}

button {
  background-color: aqua;
  padding: 10px;
  border-radius: 10px;
}

button > .home {
  color :red;
}
