body {
  background-color: #0c2461;
}

header {
  color: white;
  padding-bottom: 50px;
  border-radius: 20px;
}

.headings {
  width: 560px;
  position: relative;
  left: 400px;
  font-size: 125%;
}

.containers {
  display: flex;
}

.logo {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

span {
  color: burlywood;
}

h1 {
  text-align: center;
  padding: 20px;
  font-size: 250%;
}

.old-crick {
  width: 600px;
  height: 300px;
  display: block;
  margin: auto;
  border-radius: 20px;
}

.container > div {
  margin: 20px;
  border: 1px solid wheat;
  width: 1350px;
  border-radius: 20px;
  padding: 10px;
  background: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.container > div:hover {
  transform: translateY(-10px);
}

.field,
.score,
.forms,
.team,
.game {
  display: flex;
  margin: 10px;
}

.field > p {
  padding: 100px;
  padding-left: 150px;
}

.score > p {
  padding: 50px;
}

.forms > p {
  padding: 50px;
}

.team > p {
  padding: 50px;
}

.game > p {
  padding: 50px;
}

.field > img {
  padding-left: 50px;
}

.score > img,
.forms > img,
.game > img {
  width: 450px;
  height: 300px;
}

.team > img {
  width: 500px;
  height: 300px;
}

.field > img {
  width: 300px;
  height: 300px;
}

h2 {
  font-size: 200%;
}

main {
  background-color: #fff;
  padding-left: 75px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
}

p,
ul {
  max-width: 1200px;
  font-size: 100%;
}

footer {
  background-color: #0c2461;
  border-radius: 20px;
  padding: 50px;
  padding-left: 150px;
  font-size: 30px;
  color: aliceblue;
}

a {
  text-decoration: none;
  color: rgb(76, 205, 132);
}

.back {
  text-align: center;
  color: rgb(255, 0, 0);
}

button {
  background-color: aqua;
  border-radius: 10px;
  padding: 10px;
}

/* =========================
   Mobile Responsive Styles
   ========================= */
@media (max-width: 768px) {
  /* Header */
  .containers {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
  }

  .logo {
    width: 70px;
    height: auto;
  }

  .headings {
    font-size: 13px;
    width: 560px;
    margin-left: 10px;
    left: 1px;
  }

  .old-crick {
    width: 100%;
    height: auto;
  }

  /* Main Container */
  .container {
    padding: 0;
  }

  .container > div {
    margin: 20px;
    border: 1px solid wheat;
    width: 200px;
    border-radius: 20px;
    padding: 10px;
    background: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }

  .heading {
    font-size: 24px;
    text-align: center;
  }

  .field > img {
    margin-right: 50px;
  }
  main {
    padding: 15px;
  }
  .para {
    font-size: 15px;
    line-height: 1.6;
    text-align: justify;
  }

  /* Sections */
  .game,
  .team,
  .field,
  .score,
  .forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 25px;
  }

  .game img,
  .team img,
  .field img,
  .score img,
  .forms img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
  }

  .game p,
  .team p,
  .field p,
  .score p,
  .forms p {
    font-size: 15px;
    line-height: 1.6;
    padding: 0 5px;
  }

  /* Headings */
  h3 {
    font-size: 20px;
    text-align: center;
  }

  /* Footer */
  footer {
    text-align: center;
    padding: 15px;
  }

  footer p {
    font-size: 14px;
    margin: 5px 0;
  }

  footer button {
    margin-top: 10px;
    padding: 10px 15px;
  }

  .back {
    font-size: 14px;
    text-decoration: none;
  }
}
